@model NextFurniture.Models.DAL.Entities.Comment
@{
    ViewData["Title"] = "NewComment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Yorum Ekle</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Yeni Yorum <small>Ekleme Ekranı</small></h3>
                    </div>
                    <form method="post" asp-action="NewComment">
                        <div class="card-body">
                            <div class="form-group">
                                @Html.Label("Ad & Soyad:")
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Unvan:")
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Resim:")
                                @Html.TextBoxFor(x => x.ImgUrl, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Puan")
                                @Html.TextBoxFor(x => x.Star, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Yorum:")
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

