@model List<NextFurniture.Models.DAL.Entities.Banner>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Banner</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Banner Kısmı <small>Düzenleme Ekranı</small></h3>
                    </div>
                    <form method="post">
                        @foreach (var item in Model)
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="Title">Başlık:</label>
                                    <input type="text" name="@item.Title" value="@item.Title" class="form-control" id="Title">
                                </div>
                                <div class="form-group">
                                    <label for="Img1">Resim:</label>
                                    <input type="text" name="@item.ImgUrl" value="@item.ImgUrl" class="form-control" id="Img1">
                                </div>
                                <div class="form-group">
                                    <label for="Desc">Açıklama:</label>
                                    <textarea rows="5" name="@item.Description" class="form-control" id="Desc">@item.Description</textarea>
                                </div>
                            </div>
                        }
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

